<!DOCTYPE html>
<html>
<head lang="ko">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, sharink-to-fit=no">
	<title>SkyChat</title>
	<meta name="theme-color" content="#603020">
	<link rel="stylesheet" href="/css/main.css">
    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
</head>
<body class="bg-chat">
	<div id="chatBarrier" class="barrier bg-kakao fill-full">
		<input id="name" class="name bg-button round-input p-2" type="text" autocomplete="off">
		<button class="name-button bg-button">대화 참여</button>
	</div>
	<div class="container">
		<div id="chatLog" class="chat-log">
			<p>시스템 : 매너 있는 채팅 부탁드립니다 :)</p>
		</div>
		<div id="chatBox" class="chat-box">
			<div class="container wrapper-2">
				<input id="message" class="bg-light round-input p-1" type="text" autocomplete="off">
				<button class="chat-button bg-light round-input" onclick="sendMessage()">
					<i class="far fa-comment"></i>
				</button>
			</div>
		</div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/select.js"></script>
    <script src="/js/socket-chat.js"></script>
</body>
</html>